.side-bar-container{
    flex: 2.5;
    /* background-color: #eee; */
    overflow: hidden;
}

.bar-con{
    /* padding: 15px; */
    /* margin-top: 5px; */
    border-radius: 20px;
    background-color: 'gold';
    width: 200px;
    height: 80%;
    margin-left: 10px;
    margin-top: 15px;
    color: #333;
}

ul{
    list-style: none;
}

.icon{
    display: flex;
    font-size: 25px;
    /* color: gold; */
}

.name{
    display: flex;
    padding-left: 35px;
}

.side-bar-list-item{
    display: flex;
    padding-top: 30px;
}
